# image
*.jpg
*.jpeg
*.png
*.bmp
*.gif
*.ico

# audio
*.ogg
*.mp3
*.wav

# other
text/*
!text/site_*
img/*
!img/site_*
!img/log_*
.well-known/acme-challenge/*
.well-known_/acme-challenge/*
up/*

# node
node_modules
package-lock.json

# editor
.vscode
.idea