<div class="bg-image"> </div>
<component-header> Loading... </component-header>
<div id="content">
    <div id="content_body">
        <div id="content_add">
            <div id="app-wiki"> Loading... </div>
            <div id="app-editor"> Loading... </div>
            <div id="app-uploader"> Loading... </div>
            <div id="debug_window"></div>
            <!-- auto ajax insert -->
        </div>
    </div>
</div>
<div id="side">
    <div id="side_menu">
        <h2 class="bar">メニュー</h2>
        <component-side_main> Loading... </component-side_main>
        <h3>ログイン履歴</h3>
        <component-login_history> Loading... </component-login_history>
        <div id="side-custom_menu"></div>
    </div>
    <div id="side-history">
        <h2 class="bar">History</h2>
        <component-edited_history> Loading... </component-edited_history>
    </div>
</div>
<component-footer> Loading... </component-footer>
