<!-- html/css -->

<!-- html/body -->
<div id="ajax_edit__body">
    <form id="ajax_edit">
        <div class="ajax_edit__form__title">
            ページ名：
            <span id="app-editor__dir_path"></span>
            <input type="text" name="page" size="40" id="ajax_edit__form__page-name" maxlength="20" value="">
        </div>
        <div class="ajax_edit__main">
            <textarea name="fileData" id="ajax_edit__textarea"></textarea>
            <div id="ajax_edit__preview">
                読み込み中...
            </div>
        </div>
        <div class="ajax_edit__btn">
            <input type="submit" id="app_edit-submit" value="保存">
            <!-- <input type="reset" value="リセット"> -->
            <input type="button" class="btn-cancel" value="キャンセル">
        </div>
    </form>
</div>

<!-- html/js -->
