<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>app:wiki</title>
  <!-- html/head -->
  <!--
  <link rel="stylesheet" type="text/css" href="styles/style.css" />
  <style>
    body {
      background-image: none;
      background-color: rgba(0, 0, 0, 0);
    }
  -->
  </style>
</head>

<body>
  <!-- html/body -->
  app:wiki
  <div id="app-body"></div>

  <!-- html/script -->
  <!--
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="/lib/ncmb.min.js" charset="utf-8"></script>
  -->
</body>

</html>