<div class="bg-image"> </div>
<div id="header"> Loading... </div>
<div id="content">
    <div id="content_body">
        <div id="content_add">
            <div id="app-wiki"> Loading... </div>
            <div id="app-editor"> Loading... </div>
            <div id="app-uploader"> Loading... </div>
            <!-- auto ajax insert -->
        </div>
    </div>
</div>
<div id="side">
    <div id="side_menu">
        <h2 class="bar">メニュー</h2>
        <div id="side-main"> Loading... </div>
        <h3>ログイン履歴</h3>
        <div id="side-login_history"> Loading... </div>
        <div id="side-custom_menu"></div>
    </div>
    <div id="side-history">
        <h2 class="bar">History</h2>
        <div id="side-edited_history"> Loading... </div>
    </div>
</div>
<div id="footer"> Loading... </div>
