<!-- html/css -->
<style>
    #ajax_edit__body {
        height: 100vh;
    }

    #ajax_edit {
        height: 100%;
        width: 100%;
    }

    #ajax_edit__preview {
        box-sizing: border-box;
        height: 80%;
        width: 48%;
        display: inline-block;
        zoom: 0.8;
        overflow: scroll;
    }

    #ajax_edit__textarea {
        box-sizing: border-box;
        height: 80%;
        width: 48%;
        display: inline-block;
        resize: none;
    }
</style>

<!-- html/body -->
<div id="ajax_edit__body">
    <form id="ajax_edit">
        ページ名：<input type="text" name="page" size="40" id="ajax_edit__form__page-name" maxlength="20" value="" readonly><br/>
        <textarea name="fileData" id="ajax_edit__textarea"></textarea>
        <div id="ajax_edit__preview">
            読み込み中...
        </div>
        <br/>
        <input type="submit" id="app_edit-submit" value="保存">
        <!-- <input type="reset" value="リセット"> -->
    </form>
</div>

<!-- html/js -->
