<!-- html/css -->
<style>
    a.none_decoration {
        text-decoration: none;
    }
</style>

<!-- html/body -->
<div>
    <a href="?pageURI=/FrontPage" data-page="/FrontPage" class="ajaxLoad none_decoration">
        <img alt="" src="img/site_face.png" width="50px" />
    </a>
    <a href="?pageURI=/FrontPage" data-page="/FrontPage" class="ajaxLoad none_decoration">
        JapariWiki_v2.2.0
        <!-- $JWConfig["siteName"] -->
    </a>
    -
    <span id="header-page_name" ></span>
</div>
<div>
    <a href="" id="ajaxLoad_edit" class="none_decoration">
        <img alt="edit" src="img/site_Edit.png" width="150px" height="50px" />
    </a>,
    <a href="" id="ajaxLoad_upload" class="none_decoration">
        <img alt="upload" src="img/site_Upload.png" width="150px" height="50px" />
    </a>
</div>
<xxx-component>xxx</xxx-component>
<!-- html/body -->
