<!--
array(
  'gif' => 'image/gif',
  'jpg' => 'image/jpeg',
  'bmp' => 'image/x-ms-bmp',
  'webp' => 'image/webp',
  'apng' => 'image/vnd.mozilla.apng',
  'png' => 'image/png',
)
-->

<form id="form_upload" enctype="multipart/form-data" action="ajax_upload.php" method="POST">
  <!-- MAX_FILE_SIZE は、必ず "file" input フィールドより前になければなりません -->
  <input type="hidden" name="MAX_FILE_SIZE" value="10240000" />
  <!-- input 要素の name 属性の値が、$_FILES 配列のキーになります -->
  アップロード(Max 10MB): <input name="userfile" type="file" />
  <input type="submit" value="ファイルを送信" />
</form>
<div class="uploaded_images"></div>
